<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kawakawaplanning.bookshelf">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="book.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name=".books.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dojin.activity.DojinMainActivity" />
        <activity
            android:name=".books.activity.AddBookISBNActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".books.activity.DetailActivity"
            android:label="@string/title_activity_detail" />
        <activity android:name=".books.activity.ReadBarcodeActivity" />
        <activity
            android:name=".books.activity.AddBookInputActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".books.activity.CropActivity"></activity>
    </application>

</manifest>
